# build output
dist/
.vscode/

# generated types
.astro/
.gitignore
README.md
yarn.lock
.github/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

