@import "tailwindcss";

@font-face {
  font-family: "MonaspaceArgon";
  src: url("/fonts/MonaspaceArgon-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "MonaspaceArgon";
  src: url("/fonts/MonaspaceArgon-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "MonaspaceArgon";
  src: url("/fonts/MonaspaceArgon-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "MonaspaceKrypton";
  src: url("/fonts/MonaspaceKrypton-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "MonaspaceKrypton";
  src: url("/fonts/MonaspaceKrypton-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "MonaspaceKrypton";
  src: url("/fonts/MonaspaceKrypton-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@theme {
  --font-sans: "MonaspaceKrypton", ui-sans-serif, system-ui, sans-serif;
  --font-monaspace: "MonaspaceArgon", ui-monospace, monospace;
}

html {
  background: #13151a;
}

.no-scroll {
  scrollbar-width: none;
}
.no-scroll::-webkit-scrollbar {
  display: none;
}
