---

import Head from "../components/Head.astro";
import Layout from "../layouts/Layout.astro";


---

<Layout title="About">
    <Head/>
    <div class="place-items-center m-4">
        <div class="flex place-content-center">
            <h1 class="text-white text-6xl">About</h1>
        </div>
        <div class="flex place-content-center mx-auto max-w-2xl mt-10">
            <span class="text-justify text-white font-monaspace">
                Yellow Umbrella is an anecdote, a story that both members 
                of this project experienced a few days after seeing each 
                other for the first time. Since then, it has been our team 
                name or "Ship name", and now it's the name of a small 
                project that we, 
                <a 
                    class="inline-block bg-gradient-to-r from-cyan-400 to-blue-500 hover:from-pink-500 hover:to-yellow-500 text-transparent bg-clip-text" 
                    href="https://linkstack.aileenyx.com/@aileenyx" 
                    target="_blank" 
                    rel="noopener noreferrer">
                    AileeNyx
                </a> and 
                <a class="inline-block bg-gradient-to-r from-cyan-400 to-blue-500 hover:from-pink-500 hover:to-yellow-500 text-transparent bg-clip-text" 
                    href="https://linkstack.nereacassian.com/@nereacassian" 
                    target="_blank" rel="noopener noreferrer">
                    NereaCassian
                </a>, use to publish
                all the projects in which we have collaborated together.
            </span>
        </div>
    </div>
</Layout>