---
import Layout from "../layouts/Layout.astro";
import SocialCard from "../components/SocialCard.astro";
import Head from "../components/Head.astro";
const social = await fetch(`https:/yellowumbrella.dev/api/socials.json`);
const data = await social.json();
export const prerender = false
---
<Layout title="Redes sociales">
    <Head/>
    <div class="place-items-center mt-10">
        <div class="flex place-content-center">
            <h1 class="text-white text-6xl">Redes sociales</h1>
        </div>
        <div class="flex place-content-center mx-auto max-w-2xl mt-2">
            <p class="flex text-justify text-white">Enlaces a nuestras redes sociales:</p>
        </div>
        <div class="m-10">
            {
                data.socials.map((output, index) => (
                <SocialCard
                    key={index}
                    image={output.icon}
                    name={output.name}
                    link={output.link}
                />
                ))
            }
        </div>
    </div>
</Layout>