---

import Head from "../components/Head.astro";
import Layout from "../layouts/Layout.astro";


---

<Layout title="Sobre nosotros">
    <Head/>
    <div class="place-items-center m-4">
        <div class="flex place-content-center">
            <h1 class="text-white text-6xl">Sobre nosotros</h1>
        </div>
        <div class="flex place-content-center mx-auto max-w-2xl mt-10">
            <span class="text-justify text-white font-monaspace">
                Yellow Umbrella significa muchas cosas. Para tí, si eres el dueño 
                de un negocio emergente, significa resguardo y cobertura de todas tus necesidades 
                de cloud, ciberseguridad, y desarrollo.<br><br>

                Somos un pequeño grupo dedicado a que tu empresa pueda crecer tranquila en un mundo cada vez 
                más dependiente de un buen software.<br><br>

                Nuestros valores son claros: Estamos comprometidos con el
                código abierto y la accesibilidad a nuestros servicios y proyectos. Nuestro futuro juntos no implica dependencia. 
                Buscamos cubrirte y entrenar a tu equipo para que llegado el momento, puedas cerrar el paragüas 
                y continuar tu camino sin nosotros.
            </span>
        </div>
    </div>
</Layout>