---
import Layout from "../layouts/Layout.astro";
import Head from "../components/Head.astro";
---
<Layout title="Socials">
    <Head/>
    <div class="place-items-center mt-10">
        <div class="flex place-content-center">
            <h1 class="text-white text-6xl">Socials</h1>
        </div>
        <div class="flex place-content-center mx-auto max-w-2xl mt-10">
            <p class="flex text-justify text-white">All of our Links</p>
        </div>
    </div>
</Layout>