---
import Umbrella from '../components/svg/Umbrella.astro'
---

<div class="place-items-center mt-10 m-4">
    <div class="flex place-content-center">
        <Umbrella/>
    </div>
    <p class="text-2xl text-white text-center">It's raining today, don't forget your</p>
    <h1 class="text-6xl text-white font-bold text-center">Yellow Umbrella</h1>
    <nav class="mt-5">
        <ul class="flex justify-center">
            <a href="/">
                <li class="text-white bg-gradient-to-r from-purple-500 to-pink-500 hover:bg-gradient-to-l focus:ring-4 focus:outline-none focus:ring-purple-200 dark:focus:ring-purple-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">
                    Home
                </li>
            </a>
            <a href="/about">
                <li class="text-white bg-gradient-to-r from-purple-500 to-pink-500 hover:bg-gradient-to-l focus:ring-4 focus:outline-none focus:ring-purple-200 dark:focus:ring-purple-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">
                    About
                </li>
            </a>
            <a href="/blog">
                <li class="text-white bg-gradient-to-r from-purple-500 to-pink-500 hover:bg-gradient-to-l focus:ring-4 focus:outline-none focus:ring-purple-200 dark:focus:ring-purple-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">
                    Blog
                </li>
            </a>
            <a href="/socials">
                <li class="text-white bg-gradient-to-r from-purple-500 to-pink-500 hover:bg-gradient-to-l focus:ring-4 focus:outline-none focus:ring-purple-200 dark:focus:ring-purple-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">
                    Socials
                </li>
            </a>
        </ul>
    </nav>
</div>