---
interface Props {
	title: string;
}

const { title } = Astro.props;
import { ViewTransitions } from 'astro:transitions';
import { InteractiveRain } from "../components/Rain.jsx";
import { fade } from 'astro:transitions';
import AstroLogo from '../components/svg/AstroLogo.astro';


---

<!doctype html>
<html lang="en" transition:animate={fade({ duration: '0.5s' })}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<meta name="msapplication-TileColor" content="#da532c">
		<meta name="theme-color" content="#ffffff">
		<meta
        name="description"
        content="The Yellow Umbrella Website ☂️ "
      	/>
      	<meta
      	  name="keywords"
      	  content="YellowUmbrella, yellow, umbrella"
      	/>
      	<meta property="og:title" content="Nerea Kalandadze's web" />
      	<meta
      	  property="og:description"
      	  content="The Yellow Umbrella Website ☂️"
      	/>
      	<meta property="og:image" content="https://yellowumbrella.dev/card.png" />
      	<meta property="og:url" content="https://yellowumbrella.dev/" />
      	<meta property="twitter:domain" content="yellowumbrella.dev"/>
      	<meta property="twitter:url" content="https://yellowumbrella.dev/"/>
      	<meta name="twitter:title" content="The Yellow Umbrella"/>
      	<meta name="twitter:description" content="The Yellow Umbrella Website ☂️"/>
      	<meta name="twitter:card" content="summary_large_image" />
      	<meta name="twitter:image" content="https://yellowumbrella.dev/card.png"/>
		<ViewTransitions/>
		<!-- Google tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-89BNSENYQW"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());
		
		  gtag('config', 'G-89BNSENYQW');
		</script>
	</head>
	<body class="no-scroll">
		<slot />
		<InteractiveRain client:only="react"></InteractiveRain>
	</body>
	<!-- 
	<footer class="flex items-center justify-center flex-col">
		<p class="mr-2 text-white text-3xl">Built with</p>
		<a href="https://astro.build/" target="_blank" rel="noopener noreferrer"><AstroLogo/></a>
	</footer> 
	-->
</html>
<style is:global>

	@font-face {
 		font-family: 'MonaspaceArgon';
 		src: url('/fonts/MonaspaceArgon-Regular.woff') format('woff');
 		font-weight: normal;
 		font-style: normal;
	}
	@font-face {
 		font-family: 'MonaspaceArgon';
 		src: url('/fonts/MonaspaceArgon-Bold.woff') format('woff');
 		font-weight: bold;
 		font-style: normal;
	}
	@font-face {
 		font-family: 'MonaspaceArgon';
 		src: url('/fonts/MonaspaceArgon-Italic.woff') format('woff');
 		font-weight: normal;
 		font-style: italic;
	}	
	@font-face {
 		font-family: 'MonaspaceKrypton';
 		src: url('/fonts/MonaspaceKrypton-Regular.woff') format('woff');
 		font-weight: normal;
 		font-style: normal;
	}
	@font-face {
 		font-family: 'MonaspaceKrypton';
 		src: url('/fonts/MonaspaceKrypton-Bold.woff') format('woff');
 		font-weight: bold;
 		font-style: normal;
	}
	@font-face {
 		font-family: 'MonaspaceKrypton';
 		src: url('/fonts/MonaspaceKrypton-Italic.woff') format('woff');
 		font-weight: normal;
 		font-style: italic;
	}
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
		background: #13151a;
	}
	.no-scroll::-webkit-scrollbar {
	  display: none;
	}

	/* Hide scrollbar for IE, Edge and Firefox */
	.no-scroll {
	  -ms-overflow-style: none;  /* IE and Edge */
	  scrollbar-width: none;  /* Firefox */
	}

</style>
